@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    height: 91vh;
    background-image: url(imagem-fundo/globo.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 35px;
    margin: auto;

}

form {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: auto;
}

input {
    height: 20px;
}

div {
    background-color: rgba(78, 72, 72, 0.534);
    color: rgb(255, 255, 255);
}